<section class="menu" id="appetizers">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Appetizers</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Gyoza</h3>
                    <h4 class="text-muted">Homemade vegetarian pot stickers</h4>
                    <h4 id="gyoza"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Miso Eggplant</h3>
                    <h4 id="eggp"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Misoyaki Black Cod</h3>
                    <h4 id="misoyaki"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Beef Negimaki</h3>
                    <h4 id="bnegi"></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Hamachi Kama</h3>
                    <h4 id="hkama"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Chicken Kushiyaki</h3>
                    <h4 id="ckushi"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Chicken Karaage</h3>
                    <h4 id="karaage"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Shrimp and Veg Tempura</h3>
                    <h4 id="svtempura"></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Shrimp Tempura</h3>
                    <h4 id="stempura"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Veg Tempura</h3>
                    <h4 id="vtempura"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Soft Shell Crab Tempura</h3>
                    <h4 id="sscrab"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Korokke</h3>
                    <h4 id="korokke"></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Kaki Fry Oyster</h3>
                    <h4 id="kakifry"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Agedashi Tofu</h3>
                    <h4 id="atofu"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Kamekyo's Tofu</h3>
                    <h4 class="text-muted">Fried tofu with special sauce</h4>
                    <h4 id="ktofu"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Hiya-yakko Tofu</h3>
                    <h4 id="htofu"></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3></h3>
                    <h4 id=""></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3></h3>
                    <h4 id=""></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3></h3>
                    <h4 id=""></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3></h3>
                    <h4 id=""></h4>
                </div>
            </div>
        </div>
    </div>
</section>
