<section class="menu" id="appetizers">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Appetizers</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Gyoza</h4>
                    <p class="text-muted">Homemade vegetarian pot stickers</p>
                    <p id="gyoza"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Miso Eggplant</h4>
                    <p id="eggp"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Misoyaki Black Cod</h4>
                    <p id="misoyaki"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Beef Negimaki</h4>
                    <p id="bnegi"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Hamachi Kama</h4>
                    <p id="hkama"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Chicken Kushiyaki</h4>
                    <p id="ckushi"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Chicken Karaage</h4>
                    <p id="karaage"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Shrimp and Veg Tempura</h4>
                    <p id="svtempura"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Shrimp Tempura</h4>
                    <p id="stempura"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Veg Tempura</h4>
                    <p id="vtempura"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Soft Shell Crab Tempura</h4>
                    <p id="sscrab"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Korokke</h4>
                    <p id="korokke"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Kaki Fry Oyster</h4>
                    <p id="kakifry"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Agedashi Tofu</h4>
                    <p id="atofu"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Kamekyo's Tofu</h4>
                    <p class="text-muted">Fried tofu with special sauce</p>
                    <p id="ktofu"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Hiya-yakko Tofu</h4>
                    <p id="htofu"></p>
                </div>
            </div>
        </div>
    </div>
</section>
