<section id="appetizers">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Appetizers</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Gyoza</h3>
                    <h4 class="text-muted">Homemade vegetarian pot stickers</h4>
                    <h4 id="gyoza"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Miso Eggplant</h3>
                    <h4 id="eggp"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Misoyaki Black Cod</h3>
                    <h4 id="misoyaki"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Beef Negimaki</h3>
                    <h4 id="bnegi"></h4>
                </div>
            </div>
        </div>
    </div>
</section>
