<section class="menu" id="bentobox">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Bento Box</h2>
                <h3>Served with rice soup and salad<br>Two Items $25 | Three Items $30</h3>
                <hr class="primary">
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h3>Salmon Teriyaki</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h3>Saba Teriyaki</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h3>Chicken Teriyaki</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h3>Beef Fillet</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h3>Tonkatsu</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h3>Chicken Katsu</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h3>Ginger Pork</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h3>Ginger Red Snapper</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h3>Sesame Chicken</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h3>Shrimp Tempura</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h3>Veg Tempura</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h3>Kaki Fry Oyster</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h3>California Roll</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h3>Tuna Sashimi</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h3>Salmon Sashimi</h3>
                </div>
            </div>
        </div>
    </div>
</section>
