<section class="menu" id="bentobox">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Bento Box</h2>
                <h4>Two Items $25 or Three Items $30</h3>
                <h4>Served with rice soup and salad</h3>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4></h4>
                </div>
            </div>
        </div>
    </div>
</section>
