<section class="menu" id="bentobox">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Bento Box</h2>
                <h4>Served with rice soup and salad<br>Two Items $25 | Three Items $30</h4>
                <hr class="primary">
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h4>Salmon Teriyaki</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h4>Saba Teriyaki</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h4>Chicken Teriyaki</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h4>Beef Fillet</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h4>Tonkatsu</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h4>Chicken Katsu</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h4>Ginger Pork</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h4>Ginger Red Snapper</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h4>Sesame Chicken</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h4>Shrimp Tempura</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h4>Veg Tempura</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h4>Kaki Fry Oyster</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h4>California Roll</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h4>Tuna Sashimi</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box bento-box">
                    <h4>Salmon Sashimi</h4>
                </div>
            </div>
        </div>
    </div>
</section>
