<section class="menu" id="beverages">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Beverages</h2>
                <p class="text-muted">Pick up w id for alcohol</p>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>San Pellegrino</h3>
                    <p id="sanpell"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Kern's Nectar</h3>
                    <p class="text-muted">Mango or guava</p>
                    <p id="kerns"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Ramune</h3>
                    <p class="text-muted">Classic marble soda</p>
                    <p id="ramune"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Calpico</h3>
                    <p class="text-muted">Classic flavor</p>
                    <p id="calpico"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Soda</h3>
                    <p class="text-muted">7-up, coca-cola, diet coca-cola, or canada dry</p>
                    <p id="soda"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Japanese Iced Tea</h3>
                    <p class="text-muted">Unsweetened oolong tea</p>
                    <p id="icedt"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Thai Milk Tea</h3>
                    <p id="thait"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Mango Ice Cream Float</h3>
                    <p id="mangofloat"></p>
                </div>
            </div>
        </div>
    </div>
</section>
