<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>カメキョウ</h1>
            <h2>KAMEKYO</h2>
            <hr>
            <p>
                Japanese cuisine and sushi bar<br />
                Open 11:30AM - 9:00PM<br />
                Updated - 11/29/2020<br />
                <a href='https://maps.google.com/?q=943+Cole+St+San+Francisco'>
                    <a href='https://maps.apple.com/maps?q=943+Cole+St+San+Francisco'>
                        943 Cole St, San Francisco, CA 94117
                    </a>
                </a>
            </p>
            <a href="tel:4157598428" class="btn btn-primary btn-xl">Call (415) 759-8428</a>
        </div>
    </div>
</header>
