<section class="menu" id="kitchen">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Kitchen Special</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Seafood Kushiyaki Skewer</h4>
                    <p class="text-muted">Served with rice and soup</p>
                    <p id="skushi"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Kamekyo's Yosenabe Hot Pot</h4>
                    <p class="text-muted">Seafood chicken veg and udon</p>
                    <p id="yosen"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Sukiyaki Sweet Hot Pot and Tempura</h4>
                    <p class="text-muted">Chicken or beef with shrimp and veg tempura served with rice and soup</p>
                    <p id="suki"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Sesame Chicken</h4>
                    <p class="text-muted">Served with rice soup and salad</p>
                    <p id="sesame"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Kamekyo's Shrimp Clay Pot</h4>
                    <p class="text-muted">Served with rice and soup</p>
                    <p id="kclay"></p>
                </div>
            </div>
        </div>
    </div>
</section>
