<section class="menu" id="maki">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Maki</h2>
                <p class="text-muted">Cut roll or handroll<br>Inside/out or add tobiko +$1.50</p>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Negi Toro</h3>
                    <p class="text-muted">Tuna belly and green onion</p>
                    <p id="negitoro"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Alaska</h3>
                    <p class="text-muted">Salmon and avocado</p>
                    <p id="alaska"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Avocado</h3>
                    <p id="avocado"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>California</h3>
                    <p class="text-muted">Real crab avocado and cucumber</p>
                    <p id="cali"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Futo Maki</h3>
                    <p class="text-muted">Big roll w eel egg shrimp and veg</p>
                    <p id="futom"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Gari Saba</h3>
                    <p class="text-muted">Mackerel ginger and green onion</p>
                    <p id="garisaba"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>gobo</h3>
                    <p class="text-muted">Pickled burdock</p>
                    <p id="gobo"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Horenso</h3>
                    <p class="text-muted">Spinach</p>
                    <p id="horenso"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Kanpyo</h3>
                    <p class="text-muted">Dried Gourd</p>
                    <p id="kanpyo"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Kappa</h3>
                    <p class="text-muted">Cucumber</p>
                    <p id="kappa"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Natto</h3>
                    <p class="text-muted">Fermented soybean</p>
                    <p id="natto"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>New York</h3>
                    <p class="text-muted">Shrimp and avocado</p>
                    <p id="newyork"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Negi Hama</h3>
                    <p class="text-muted">Yellowtail and green onion</p>
                    <p id="negihama"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Oshinko</h3>
                    <p class="text-muted">Yellow pickled radish</p>
                    <p id="oshinko"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Rock n Roll</h3>
                    <p class="text-muted">Unagi eel and avocado</p>
                    <p id="rocknroll"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Sake Maki</h3>
                    <p class="text-muted">Salmon and green onion</p>
                    <p id="sakem"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Salmon Skin</h3>
                    <p class="text-muted">Salmon skin and veg</p>
                    <p id="sskin"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Shrimp Tempura Roll</h3>
                    <p id="stroll"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Shiitake</h3>
                    <p class="text-muted">Marinated mushroom</p>
                    <p id="shiitake"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Spicy Tuna</h3>
                    <p id="stuna"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Spicy Hamachi</h3>
                    <p id="shama"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Spider Roll</h3>
                    <p class="text-muted">Spicy soft shell crab tempura</p>
                    <p id="spider"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Tekka Maki</h3>
                    <p class="text-muted">Red tuna</p>
                    <p id="tekka"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Tuna Delight</h3>
                    <p class="text-muted">Red tuna w veg and wasabi sauce</p>
                    <p id="tunad"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Hamachi Delight</h3>
                    <p class="text-muted">Hamachi w veg and wasabi sauce</p>
                    <p id="hamachid"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Vegetable Delight</h3>
                    <p class="text-muted">Mixed veg and wasabi sauce</p>
                    <p id="vegd"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Una Kyu</h3>
                    <p class="text-muted">Unagi eel and cucumber</p>
                    <p id="unakyu"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Veg Tempura Roll</h3>
                    <p id="vtroll"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Umeshiso</h3>
                    <p class="text-muted">Ooba plum leaf</p>
                    <p id="umeshiso"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Lobster and Crab Salad Roll</h3>
                    <p id="lobster"></p>
                </div>
            </div>
        </div>
    </div>
</section>
