<section class="menu" id="nigiri">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nigiri</h2>
                <p class="text-muted">Fish on rice | 2 pcs</p>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Maguro</h3>
                    <p class="text-muted">Tuna</p>
                    <p id="maguro"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Hamachi</h3>
                    <p class="text-muted">Yellowtail</p>
                    <p id="hamachi"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Sake</h3>
                    <p class="text-muted">Salmon</p>
                    <p id="sake"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Unagi</h3>
                    <p class="text-muted">Fresh water eel</p>
                    <p id="unagi"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Aji</h3>
                    <p class="text-muted">Spanish Mackerel</p>
                    <p id="aji"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Ama Ebi</h3>
                    <p class="text-muted">Sweet prawn</p>
                    <p id="amaebi"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>anago</h3>
                    <p class="text-muted">Salt-water eel</p>
                    <p id="anago"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Ebi</h3>
                    <p class="text-muted">Cooked prawn</p>
                    <p id="ebi"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Hirame</h3>
                    <p class="text-muted">Flounder</p>
                    <p id="hirame"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Kanpachi</h3>
                    <p class="text-muted">Amberjack</p>
                    <p id="kanpachi"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Hotate</h3>
                    <p class="text-muted">Scallop</p>
                    <p id="hotate"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Ika</h3>
                    <p class="text-muted">Squid</p>
                    <p id="ika"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Ikura</h3>
                    <p class="text-muted">Salmon roe</p>
                    <p id="ikura"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Kani</h3>
                    <p class="text-muted">Crab</p>
                    <p id="kani"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Katsuo</h3>
                    <p class="text-muted">Seared tuna</p>
                    <p id="katsuo"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Mirugai</h3>
                    <p class="text-muted">Geoduck clam</p>
                    <p id="mirugai"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Saba</h3>
                    <p class="text-muted">Mackerel</p>
                    <p id="saba"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Shiro Maguro</h3>
                    <p class="text-muted">Albacore</p>
                    <p id="shiro"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Tai</h3>
                    <p class="text-muted">Red snapper</p>
                    <p id="tai"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Tako</h3>
                    <p class="text-muted">Octopus</p>
                    <p id="tako"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Tobiko</h3>
                    <p class="text-muted">Flying fish roe</p>
                    <p id="tobiko"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Tamago</h3>
                    <p class="text-muted">Japanese sweet omelette</p>
                    <p id="tamago"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Uni</h3>
                    <p class="text-muted">Sea urchin</p>
                    <p id="uni"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Spicy Scallop</h3>
                    <p id="shotate"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Ankimo</h3>
                    <p class="text-muted">Monk fish liver</p>
                    <p id="ankimo"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Toro</h3>
                    <p class="text-muted">Tuna belly</p>
                    <p id="toro"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Bigeye Tuna</h3>
                    <p id="bigeye"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>King Salmon</h3>
                    <p id="king"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Salmon Belly</h3>
                    <p id="sbelly"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="food-box">
                    <h3>Albacore Belly</h3>
                    <p id="abelly"></p>
                </div>
            </div>
        </div>
    </div>
</section>
