<section class="menu" id="noodles">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Noodles</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Chicken Udon</h4>
                    <p id="chicku"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Beef Udon</h4>
                    <p id="beefu"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Kamekyo's Udon</h4>
                    <p class="text-muted">Tofu naruto and veg in miso broth</p>
                    <p id="kameu"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Seafood Udon</h4>
                    <p id="seafu"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Shrimp and Veg Tempura Udon</h4>
                    <p id="svtempu"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Tempura Udon</h4>
                    <p class="text-muted">Shrimp or veg</p>
                    <p id="tempu"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Mixed Veg Udon</h4>
                    <p id="vegu"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Kitsune Udon</h4>
                    <p class="text-muted">Sweet fried tofu</p>
                    <p id="kitsune"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Nabeyaki Udon Hot Pot</h4>
                    <p class="text-muted">Seafood and veg</p>
                    <p id="nabe"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Yasai Udon</h4>
                    <p id="yasai"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Zaru Soba</h4>
                    <p class="text-muted">Cold soba</p>
                    <p id="zaru"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Ten Zaru Soba</h4>
                    <p class="text-muted">Shrimp and veg tempura with cold soba</p>
                    <p id="tzsoba"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Plain Udon</h4>
                    <p id="pudon"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Plain Soba</h4>
                    <p id="psoba"></p>
                </div>
            </div>
        </div>
    </div>
</section>
