<section class="menu" id="salads">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Salads</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Spinach Goma-ae</h3>
                    <h4 id="gomaae"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Spinach Ohitashi</h3>
                    <h4 id="ohitashi"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Tsukemono (Pickles)</h3>
                    <h4 id="tsukemono"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Poke</h3>
                    <h4 class="text-muted">Tuna or salmon</h4>
                    <h4 id="poke"></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Seafood Sunomono</h3>
                    <h4 id="sunomono"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>House Salad</h3>
                    <h4 id="houses"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Seaweed Salad</h3>
                    <h4 id="seaweed"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Soba Buckwheat Noodle Salad</h3>
                    <h4 id="sobas"></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Bean Sprout Salad</h3>
                    <h4 id="bean"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Cucumber Spear Salad</h3>
                    <h4 class="text-muted">Mild or Spicy</h4>
                    <h4 id="cucumber"></h4>
                </div>
            </div>
        </div>
    </div>
</section>
