<section class="menu" id="salads">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Salads</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Spinach Goma-ae</h4>
                    <p id="gomaae"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Spinach Ohitashi</h4>
                    <p id="ohitashi"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Tsukemono (Pickles)</h4>
                    <p id="tsukemono"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Poke</h4>
                    <p class="text-muted">Tuna or salmon</p>
                    <p id="poke"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Seafood Sunomono</h4>
                    <p id="sunomono"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>House Salad</h4>
                    <p id="houses"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Seaweed Salad</h4>
                    <p id="seaweed"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Soba Buckwheat Noodle Salad</h4>
                    <p id="sobas"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Bean Sprout Salad</h4>
                    <p id="bean"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h4>Cucumber Spear Salad</h4>
                    <p class="text-muted">Mild or Spicy</p>
                    <p id="cucumber"></p>
                </div>
            </div>
        </div>
    </div>
</section>
