<section class="menu" id="sashimi">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sashimi</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="food-box">
                    <h3>Maguro</h3>
                    <p class="text-muted">Tuna</p>
                    <p class="text-muted">5 pcs</p>
                    <p id="maguros"></p>
                    <p class="text-muted">10 pcs</p>
                    <p id="magurol"></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="food-box">
                    <h3>Hamachi</h3>
                    <p class="text-muted">Yellowtail</p>
                    <p class="text-muted">5 pcs</p>
                    <p id="hamachis"></p>
                    <p class="text-muted">10 pcs</p>
                    <p id="hamachil"></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="food-box">
                    <h3>Sake</h3>
                    <p class="text-muted">Salmon</p>
                    <p class="text-muted">5 pcs</p>
                    <p id="sakes"></p>
                    <p class="text-muted">10 pcs</p>
                    <p id="sakel"></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="food-box">
                    <h3>Albacore Tataki</h3>
                    <p class="text-muted">Seared albacore</p>
                    <p class="text-muted">5 pcs</p>
                    <p id="albacores"></p>
                    <p class="text-muted">10 pcs</p>
                    <p id="albacorel"></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="food-box">
                    <h3></h3>
                    <p class="text-muted"></p>
                    <p class="text-muted">5 pcs</p>
                    <p id=""></p>
                    <p class="text-muted">10 pcs</p>
                    <p id=""></p>
                </div>
            </div>
        </div>
    </div>
</section>
