<section class="menu" id="sides">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sides</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Miso Soup</h3>
                    <h4 id="miso"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Asari Clam Miso Soup</h3>
                    <h4 id="asari"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Edamame</h3>
                    <h4 id="eda"></h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Steamed Rice</h3>
                    <h4 id="rice"></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="food-box">
                    <h3>Sushi Rice</h3>
                    <h4 id="srice"></h4>
                </div>
            </div>
        </div>
    </div>
</section>
