<section class="menu" id="sides">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sides</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-sm-4">
                <div class="food-box">
                    <h3>Miso Soup</h3>
                    <p id="miso"></p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4">
                <div class="food-box">
                    <h3>Asari Clam Miso Soup</h3>
                    <p id="asari"></p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4">
                <div class="food-box">
                    <h3>Edamame</h3>
                    <p id="eda"></p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4">
                <div class="food-box">
                    <h3>Steamed Rice</h3>
                    <p id="rice"></p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4">
                <div class="food-box">
                    <h3>Sushi Rice</h3>
                    <p id="srice"></p>
                </div>
            </div>
        </div>
    </div>
</section>
