<section class="menu" id="sushibar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sushibar Special</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="food-box">
                    <h3>House Special Roll</h3>
                    <p class="text-muted">Spicy scallop roll topped w tuna and albacore</p>
                    <p id="hsroll"></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="food-box">
                    <h3>Shrimp Tempura Rainbow Roll</h3>
                    <p class="text-muted">Shrimp tempura roll topped w salmon hamachi and tuna</p>
                    <p id="strain"></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="food-box">
                    <h3>Hamachi Avocado Rainbow Roll</h3>
                    <p class="text-muted">Hamachi avocado roll topped w salmon hamachi and tuna</p>
                    <p id="harain"></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="food-box">
                    <h3>Kamekyo's Dragon Roll</h3>
                    <p class="text-muted">Avo-kyu roll topped w unagi</p>
                    <p id="kdrag"></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="food-box">
                    <h3>Dynamite Roll</h3>
                    <p class="text-muted">Deep fried spicy tuna unagi and asparagus roll</p>
                    <p id="dyna"></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="food-box">
                    <h3>49ers Roll</h3>
                    <p class="text-muted">Hamachi avocado roll topped w salmon and lemon</p>
                    <p id="niners"></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="food-box">
                    <h3>Tekkadon</h3>
                    <p class="text-muted">Red tuna over sushi rice served with soup</p>
                    <p id="tekkad"></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="food-box">
                    <h3>Chirashi</h3>
                    <p class="text-muted">Sashimi over sushi rice served with soup</p>
                    <p id="chirashi"></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="food-box">
                    <h3>Sushi Moriawase</h3>
                    <p class="text-muted">Tekka maki and 8 pcs nigiri served with soup</p>
                    <p id="sushim"></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="food-box">
                    <h3>Sushi and Sashimi Combo</h3>
                    <p class="text-muted">Tekka maki, 8 pcs nigiri, and 8 pcs sashimi served with soup</p>
                    <p id="sscombo"></p>
                </div>
            </div>
        </div>
    </div>
</section>
